<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title> 로그인 </title>
</head>

<body>
    <a href='/'><h1>Login</h1></a>
    <form method="POST" action="/login">
        <input type="text" placeholder="아이디" name="userid" value='<%=id%>'/><br>
        <input type="password" placeholder="패스워드" name="userpw"/><br>
        <button type="submit">로그인</button>
    </form>
</body>
</html>